footer {
    height: auto;
    padding: 37px 37px 10px 37px;
    background-color: #F5F0EF;
    color: #48372D;
}

@media screen and (min-width: 768px) {
    footer {
        padding: 37px 157px 10px 157px;

        .footer__container {
            display: flex;
            justify-content: space-between;

            .footer__section {
                width: initial;


            }
        }
    }
}

.logo {
    img {
        width: 150px;
        height: auto;
    }
}

.text__element {
    margin: 20px 0 20px 0;
    font-size: 14px;
}

.text__element--table {
    display: flex; /* Turns on flexbox styling */
    flex-direction: column; /* Sets the direction for all elements in the div to line up vertically */
    margin: 25px 0 25px 0;

    .text__header {
        display: flex;
        width: 100%;
    }

    /* Sets the direction to be horizontal and centers it */
    .table {
        display: flex;
        flex-direction: row; /* Sets the direction to be horizontal (the default, but was overwritten previously) */
        justify-content: center; /* Center aligns on the horizontal axis all content within .table */
        margin-top: 5px;

        /* Right aligns text and adds padding for space */
        .table--left {
            text-align: right; /* Aligns the text to the right side */
            display: flex;
            padding-right: 5px;
            font-style: italic; /* Sets the font to be italicized */
            font-size: 14px;
        }

        /* Ensures text is left-aligned and adds padding */
        .table--right {
            text-align: left;
            display: flex;
            padding-left: 5px;
            font-size: 14px;
        }
    }
}

.footer__SoMe {
    margin: 20px 0 20px 0;

    .SoMe__icons {
        display: flex;
        justify-content: center;

        .SoMe__icon {
            width: 30px;
            height: 30px;
            margin: 0 7px 0 7px; /* Sets margin for all sides at once (top, right, bottom and left) */
        }
    }
}

.copyright {
    margin-bottom: 10px;

    p {
        font-size: 12px;
        text-align: center;
    }
}
