footer {
    height: 350px;
    background-color: #F5F0EF;

    .text__element--table {
        display: flex; /* Turns on flexbox styling */
        flex-direction: column; /* Sets the direction for all elements in the div to line up vertically */

        .text__header {
            display: flex;
            width: 100%;
        }

        /* Sets the direction to be horizontal and centers it */
        .table {
            display: flex;
            flex-direction: row; /* Sets the direction to be horizontal (the default, but was overwritten previously) */
            justify-content: center; /* Center aligns on the horizontal axis all content within .table */
            margin-top: 5px;

            /* Right aligns text and adds padding for space */
            .table--left {
                text-align: right; /* Aligns the text to the right side */
                display: flex;
                padding-right: 5px;
                font-style: italic; /* Sets the font to be italicized */
            }

            /* Ensures text is left-aligned and adds padding */
            .table--right {
                text-align: left;
                display: flex;
                padding-left: 5px;
            }
        }
    }

    .footer__SoMe {
        .SoMe__icons {
            display: flex;
            justify-content: center;
            margin: 5px 0 5px 0;

            .SoMe__icon {
                width: 30px;
                height: 30px;
                margin: 0 5px 0 5px; /* Sets margin for all sides at once (top, right, bottom and left) */
            }
        }
    }
}



