* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-weight: bolder;
  font-size: 45px;
}

ul, ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* Ensures content on page has proper spacing on sides and top */
.content {
  margin: 37px 37px 0 37px;
  /* Selects all direct children and adds even margin-top on them all */
  > * {
    margin: 0 0 37px 0;
  }
}

/* The hero image */
.hero__image {
  /* Use "linear-gradient" to add a darkened background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/blossom.png");

  /* Sets a specific height */
  height: 450px;

  /* Pushes the image under the navbar */
  padding-top: 8vh;

  /* Places text in the middle of image */
  display: flex;
  align-items: center;
}

/* Styles the text's alignment, color and makes sure the text is at full width */
.hero__text {
  text-align: center;
  color: white;
  width: 100%;
}

/* Forside */

.text__element p{
  margin-top: 5px;
}

.text__element--table {
  display: flex;
  flex-direction: column;

  .text__header {
    display: flex;
    width: 100%;
  }

  .table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;

    .table--left {
      text-align: right;
      display: flex;
      padding-right: 5px;
      font-style: italic;
    }

    .table--right {
      text-align: left;
      display: flex;
      padding-left: 5px;
    }
  }
}

.text__element--centered {
  text-align: center;
  margin: 10px;
}

.SoMe__icons {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}

.SoMe__icon {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}

.mapEmbed iframe {
  width: 100%;
}

.scrollUp {
  display: flex;
  flex-direction: column;
  align-items: center;

  .underline {
    width: 75px;
    background-color: black;
    height: 1px;
  }
}

.donate-button {
  border: none; /* Fjerner rammen */
  color: white; /* Farven på tekst */
  cursor: pointer; /* Effekten der er på knappen når musen hover/trykker */
  background-color: #DB3742; /* Den røde farve */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  left: 25%;
}

/* Forside */
.info {
  .info__container {
    .info__section {
      h2 {
        font-size: 30px;
      }
    }
  }
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 320px;
        background: #f1f1f1;
        box-shadow: 0 15px 50px rgba(0,0,0,0.2);
        }

        .testa-box {
            position: relative;
            width: 100%;
            padding: 40px;
            .testa-content {
                .testa-details {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .img-box {
                        position: relative;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    h3 {
                        margin: 20px 0;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 1px;
                        color: #2196f3;
                    }
                    p {
                        color: #999;
                    }
    
                }
            }
        }
        
    }
    .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right{
        background-image: none;
    }