* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-weight: bolder;
  font-size: 45px;
}

h2 {
  font-size: 1.375em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

ul, ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* Ensures content on page has proper spacing on sides and top */
.content {
  margin: 37px 37px 0 37px;
}


/* Scales everything inside .content (where most of the page's content is) */
@media screen and (min-width: 768px) {
  .content {
    margin: 50px 109px 0 109px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto);
    grid-template-areas: "billede billede omdea omdea"
                        ". knap knap .";}

  #billede{
    margin-right: 10px;
    grid-area: billede;
  }
  #omdea{
    grid-area: omdea;
  }
  #knap{
    grid-area: knap;
  }
}

/* Sets the margin for laptop size */
@media screen and (min-width: 1024px) {
  .content {
    margin: 50px 172px 0 172px;
  }
}

/* Sets the margin for desktop size */
@media screen and (min-width: 1200px) {
  .content {
    margin: 50px 300px 0 300px;

    .content__contactUs {
      display: flex;
      flex-direction: column;
      align-items: center;

      > * {
        margin: 0 0 37px 0;
      }
    }
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto);
    grid-template-areas: "billede billede omdea omdea"
                          ". . knap knap";}

  #billede{
    margin-right: 10px;
    grid-area: billede;
  }
  #omdea{
    grid-area: omdea;
  }
  #knap{
    grid-area: knap;
  }
}

.gridContainer {
  > * {
    margin: 0 0 37px 0;
  }

  .openTime {
    /* Selects all direct children and adds even margin-top on them all */
    > * {
      margin: 0 0 37px 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .gridContainer {
    display: flex;
    justify-content: space-evenly;
    max-width: 740px;
  }
}

@media screen and (min-width: 1200px) {
  .openTime {
    width: 415px;
  }
}

@media screen and (min-width: 1200px) {
  .findUs {
    width: 415px;
  }
}

/* The hero image */
.hero__image {
  /* Use "linear-gradient" to add a darkened background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/DSC_0392.jpg");

  /* Sets a specific height */
  height: 450px;
  background-size: cover;

  /* Pushes the image under the navbar */
  padding-top: 8vh;

  /* Places text in the middle of image */
  display: flex;
  align-items: center;
}

/* Styles the text's alignment, color and makes sure the text is at full width */
.hero__text {
  text-align: center; /* Shift text's alignment from left to center */
  color: white; /* Sets the text's color to white */
  width: 100%; /* Sets the div for the text to fill 100% of the site's width to ensure text does not linebreak */
}

/* Forside */

.text__element {
  margin: 0;
}

.text__element p{
  margin-top: 5px; /* Adds 5 pixels of margin only on top */
}

/* Styles the "fredag 11.00 - 14.00" to work like a table */
.text__element--table {
  display: flex; /* Turns on flexbox styling */
  flex-direction: column; /* Sets the direction for all elements in the div to line up vertically */

  .text__header {
    display: flex;
    width: 100%;
  }

  /* Sets the direction to be horizontal and centers it */
  .table {
    display: flex;
    flex-direction: row; /* Sets the direction to be horizontal (the default, but was overwritten previously) */
    justify-content: center; /* Center aligns on the horizontal axis all content within .table */
    margin-top: 5px;

    /* Right aligns text and adds padding for space */
    .table--left {
      text-align: right; /* Aligns the text to the right side */
      display: flex;
      padding-right: 5px;
      font-style: italic; /* Sets the font to be italicized */
    }

    /* Ensures text is left-aligned and adds padding */
    .table--right {
      text-align: left;
      display: flex;
      padding-left: 5px;
    }
  }
}

/* Sets the styling for the "kontakt os" section */
.contactUs {
  text-align: center;
  margin: 10px 0 0 0;
}

@media screen and (min-width: 1200px) {
  .contactUs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;

    .text__element p:last-child {
      text-align: center;
    }

    .contactUs__container {
      max-width: 200px;
    }
  }
}

/* Centers SoMe icons */
.SoMe__icons {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;

  .SoMe__icon {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 5px; /* Sets margin for all sides at once (top, right, bottom and left) */
  }
}

@media screen and (min-width: 768px) {
  .GoogleMap__container {
    display: flex;
    justify-content: center;
  }
}

/* Sets style for Google Maps embed to ensure it does not scale indefinitely and break the site */
.mapEmbed iframe {
  width: 100%; /* Ensures the map scales with screensize */
  max-width: 420px; /* Sets the width to be no wider than 420 pixels */
  height: 420px;
}

.map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Centers elements in scroll button */
.scrollUp {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns items within the div on the vertical axis */
  margin: 25px 0 25px 0;

  /* Styles the underline */
  .underline {
    width: 75px;
    background-color: black; /* Sets the line's color to be black (background-color is used for anything not text) */
    height: 1px;
  }
}

.button{
  display: flex;
  justify-content: center;
}

.donate-button {
  border: none; /* Fjerner rammen */
  color: white; /* Farven på tekst */
  cursor: pointer; /* Effekten der er på knappen når musen hover/trykker */
  background-color: #DB3742; /* Den røde farve */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* Forside */
.info__section {
  background-color: grey;
  height: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bp__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px 0 45px 0;

  .bp__img {
    width: 50%;
    margin-bottom: 20px;

    img {
      border-radius: 50%;
    }
  }

  .quote--small {
    font-style: italic;
    width: 50%;
    text-align: center;
  }

  .text__element {
    text-align: center;
    width: 50%;
  }
}

.grid {
  display: grid;
  grid-template-rows:
    minmax(400px, auto)
    minmax(400px, auto)
    minmax(400px, auto)
    minmax(400px, auto)
    minmax(400px, auto)
    minmax(400px, auto);
}

@media screen and (min-width: 500px) {
.grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
        "img1 img2 img3"
        "img4 img5 morepics";
}
}

.gallery {
  height: 400px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 320px;
        background: #f1f1f1;
        box-shadow: 0 15px 50px rgba(0,0,0,0.2);
        }

        .testa-box {
            position: relative;
            width: 100%;
            padding: 40px;
            .testa-content {
                .testa-details {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .img-box {
                        position: relative;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    h3 {
                        margin: 20px 0;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 1px;
                        color: #2196f3;
                    }
                    p {
                        color: #999;
                    }
    
                }
            }
        }
        
    }
    .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right{
        background-image: none;
    }





    /* Menu siden */

.menu-kort{
  padding-top: 8vh;
}

.menu-kort__overskrift{
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.menu-kort__under-overskrit{
  font-size: 16px;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.dish{
  width: 260px;

  .dish__header{
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .dish__info{
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .dish__pris{
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}


@media screen and (min-width: 768px) {
  .dish__container{
    display: flex;
    justify-content: center;
  }

  .dish__content{
    display: flex;
    justify-content: space-evenly;
    max-width: 680px;
    flex-wrap: wrap;
  }

  .dish{
    width: 340px;
  }

}



.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  left:33%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:95%;
  max-width:500px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

button {
  display: flex;
  justify-content: center;
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}